{% extends 'mom/base.html' %}
{% load static %}
{% block body %}



    <!-- Page Header Start -->
    <div class="container-fluid page-header wow fadeIn jal-go" data-wow-delay="0.1s">
        <div class="container mb-5">
            <h1 class="display-3 mb-3 animated slideInDown jal-go">404 에러!</h1>
            <nav aria-label="breadcrumb animated slideInDown">
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Blog Start -->
  <div class="container-xxl py-6 jal-go">
        <div class="container">
            <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="display-5 mb-3 jal-go">페이지를 찾을 수 없습니다.</h1>
                <a href="/" class="btn btn-link">홈으로 돌아가기</a>
            </div>
            <div class="row g-4">

              
            </div>  
  </div>
</div>

{% endblock body %}

