{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>미즈리얼티</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="HTML, CSS, JavaScript, 부동산, 덕은, 덕은드림, 지산, 메트로시티, 향동, 상가, 오피스텔, 오피스, 지식산업센터, 아파트, 매매, 전세, 월세, 미즈리얼티" name="keywords">
    <meta content="누구나 편하게 볼 수 있는 덕은드림 부동산의 매물 소개" name="description">
    <meta name="author" content="미즈리얼티" />
    <meta name="og:site_name" content="미즈리얼티" />
    <meta name="og:title" content="미즈리얼티" />
    <meta name="og:description" content="누구나 쉽게 매물 확인이 가능한 미즈리얼티 매물정보" />
    <meta name="og:type" content="website" />
    <meta name="og:url" content="https://xn--oy2b15bl6nb1dcwo.com" />
    <meta name="og:image" content="{% static "mom/img/carousel1.jpg" %}" />
    <meta name="naver-site-verification" content="13d6dadb74be17a62d715eb5cd9fa1909f7f2d58" />
    <meta name="google-site-verification" content="zkFY3pXgpLsYr2k19fV1IXLF6wClUYQOz_dgBZTtCHU" />
    <meta name="google-adsense-account" content="ca-pub-1831541184549553">

    <!-- Favicon -->
    <link href="{% static 'mom/img/favicon.png' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Lora:wght@600;700&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'mom/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'mom/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'mom/scss/bootstrap.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Template Stylesheet -->
    <link href="{% static 'mom/css/style.css' %}" rel="stylesheet">

    <!--Splide-->
    <link href="{% static 'mom/css/splide-skyblue.min.css' %}" rel="stylesheet">

    <!--UPPY-->
    <link href="https://releases.transloadit.com/uppy/v3.23.0/uppy.min.css" rel="stylesheet">

    <!--Quill-->
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.4/dist/quill.snow.css" rel="stylesheet" />

 

</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <div class="container-fluid fixed-top px-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="top-bar row gx-0 align-items-center d-none d-lg-flex"> {% comment %} lg 사이즈에선 flex 그 이하는 none으로 숨김 {% endcomment %}
            <div class="col-lg-6 px-5 text-start jal-go">
                <small><i class="fa fa-map-marker-alt me-2"></i>경기도 고양시 덕양구 으뜸로130로 위프라임 트윈타워 203호</small>
                <small class="ms-4"><i class="bi bi-telephone-fill me-2"></i>02-3158-5517</small>
            </div>
            <div class="col-lg-6 px-5 text-end jal-go">
                <small>상담하기:</small>
                <a class="text-body ms-2" href="tel:02-3158-5517"><i class="bi bi-telephone-fill"></i></a>
                <a class="text-body ms-3" href="https://talk.naver.com/ct/w4a4qu" target="_blank"><i class="bi bi-chat-right-dots-fill"></i></a>
                <a class="text-body ms-3" href="https://open.kakao.com/o/sfdD3Ttf" target="_blank"><i class="bi bi-chat-fill"></i></a>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light py-lg-0 px-lg-5 wow fadeIn jal-go" data-wow-delay="0.1s">
            <a href="/" class="navbar-brand d-flex flex-column ms-4 ms-lg-0 pt-3">
                <div>
                    <h1 class="text-primary m-0 jal-go">미즈리얼티</h1>
                </div>
                <div class="d-flex align-self-center">
                    <h2 class="text-secondary m-0 jal-go">매물정보</h2>
                </div>
            </a>
            
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarCollapse">
                
                <div class="navbar-nav ms-auto p-4 p-lg-0">
                    <form class="mx-3 mb-1 d-flex position-relative align-items-center" method="get" action='{% url "search" %}'>
                        <input class="form-control" type="text" placeholder="매물 검색" aria-label="Search" style="border-radius: 20px !important;" name="search" maxlength=15>
                        <button class="btn position-absolute end-0" type="submit"><i class="bi bi-search"></i></button>
                    </form>

                    <a href="{% url "index" %}" class="nav-item nav-link {% if request.path == "/" %}active{% endif %}">메인</a>
                    <div class="nav-item dropdown">
                        <a href="{% url "search" %}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">매물 보기</a>
                        <div class="dropdown-menu m-0">
                            <a href="{% url "search" %}" class="dropdown-item">전체 매물</a>
                            <a href="{% url "multi" %}" class="dropdown-item">덕은 / 지식산업센터</a>
                            <a href="{% url "store" %}" class="dropdown-item">향동 / 지식산업센터</a>
                            <a href="{% url "jisan" %}" class="dropdown-item">기타 / 지식산업센터</a>
                            <a href="{% url "apart" %}" class="dropdown-item">아파트</a>
                            <a href="{% url "officetel" %}" class="dropdown-item">오피스텔</a>
                            <a href="{% url "sanga" %}" class="dropdown-item">상가</a>
                            <a href="{% url "office" %}" class="dropdown-item">사무실</a>
                            {% comment %} <a href="{% url "multi" %}" class="dropdown-item">다가구/2룸/3룸</a>
                            <a href="{% url "store" %}" class="dropdown-item">점포주택매매</a>
                            <a href="{% url "land" %}" class="dropdown-item">토지</a> {% endcomment %}
                        </div>
                    </div>
                    {% comment %} <a href="about.html" class="nav-item nav-link">About Us</a>
                    <a href="product.html" class="nav-item nav-link">Products</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu m-0">
                            <a href="blog.html" class="dropdown-item">Blog Grid</a>
                            <a href="feature.html" class="dropdown-item">Our Features</a>
                            <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                            <a href="404.html" class="dropdown-item">404 Page</a>
                        </div>
                    </div>
                    <a href="contact.html" class="nav-item nav-link">Contact Us</a> {% endcomment %}
                    {% if user.is_superuser %}
                    <a href="{% url "sells" %}" class="nav-item nav-link {% if 'sells' in request.path %}active{% endif %}">매물 등록</a>
                    <a href="contact.html" class="nav-item nav-link d-lg-none">내 정보</a>
                    <a href="{% url "logout" %}" class="nav-item nav-link d-lg-none">로그아웃</a>
                    {% else %}
                    <a href="contact.html" class="nav-item nav-link d-lg-none" data-bs-toggle="modal" data-bs-target="#loginModal">로그인</a>
                    {% comment %} <a href="contact.html" class="nav-item nav-link d-lg-none">회원가입</a> {% endcomment %}
                    {% endif %}
                </div>
                <div class="d-none d-lg-flex ms-2">
                    {% if user.is_authenticated %}
                    <button type="button" class="btn btn-primary btn-sm" style="border-radius: 3px; padding-top: 5px;">내 정보</button>
                    <button type="button" onclick="location.href='{% url "logout" %}'" class="btn btn-secondary btn-sm ms-2" style="border-radius: 3px; padding-top: 5px;">로그아웃</button>
                    {% else %}
                    <button type="button" class="btn btn-primary btn-sm" style="border-radius: 3px; padding-top: 5px;" data-bs-toggle="modal" data-bs-target="#loginModal">로그인</button>
                    {% comment %} <button type="button" class="btn btn-secondary btn-sm ms-2" style="border-radius: 3px; padding-top: 5px;">회원가입</button> {% endcomment %}
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->

    <!-- Modal -->
<div class="modal fade jal-go" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title jal-go" id="loginModalLabel">로그인</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="padding-bottom: 0px;">
            <form id="loginForm">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="loginInputId" class="form-label">아이디</label>
                  <input type="txt" name="username" class="form-control" id="loginInputId" autocomplete='off'>
                </div>
                <div class="mb-3">
                  <label for="loginInputPassword1" class="form-label">비밀번호</label>
                  <input type="password" name="password" class="form-control" id="loginInputPassword1" autocomplete='off'>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="border-radius: 3px; padding-top: 7px;">닫기</button>
                <button type="submit" class="btn btn-primary" style="border-radius: 3px; padding-top: 7px;">로그인</button>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
    {% block body %}
    

    {% endblock body %}
    <!-- Footer Start -->
    <div class="container-fluid bg-dark footer mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6 d-flex flex-column">
                    <div>
                        <h1 class="text-primary m-0 jal-go">미즈리얼티</h1>
                    </div>
                    <div class="d-flex">
                        <h2 class="text-secondary m-0 jal-go">매물정보</h2>
                    </div>

                    <div class="d-flex pt-2">
                        <a class="btn btn-square btn-outline-light rounded-circle me-1" href="tel:010-3158-5517"><i class="bi bi-telephone-fill"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-1" href="https://talk.naver.com/ct/w4a4qu" target="_blank"><i class="bi bi-chat-right-dots-fill"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-0" href="https://open.kakao.com/o/sfdD3Ttf" target="_blank"><i class="bi bi-chat-fill"></i></a>
                        {% comment %} <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-youtube"></i></a> {% endcomment %}
                    </div>
                </div>
                <div class="col text-center jal-go text-white">
                    <p>덕은드림 부동산</p>
                    대표 - 김태경<br>
                    <br>
                    <strong>주소</strong><br>경기도 고양시 덕양구 으뜸로130. 203호<br>
                    <strong>등록번호</strong><br>제41281-2021-00195호<br>
                    <strong>대표전화</strong><br><a href="tel:02-3158-5517">02-3158-5517</a><br><br>
                    <strong>향동지식산업센터 대표상담</strong><br>
                    <a href="{% url 'index' %}">미즈리얼티.com</a><br><br>
                </div>
                {% comment %} <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Address</h4>
                    <p><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
                    <p><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                    <p><i class="fa fa-envelope me-3"></i>info@example.com</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Quick Links</h4>
                    <a class="btn btn-link" href="">About Us</a>
                    <a class="btn btn-link" href="">Contact Us</a>
                    <a class="btn btn-link" href="">Our Services</a>
                    <a class="btn btn-link" href="">Terms & Condition</a>
                    <a class="btn btn-link" href="">Support</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Newsletter</h4>
                    <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                        <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
        <div class="container-fluid copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0 jal-go">
                        &copy; <a href="#">덕은드림부동산</a>, All Right Reserved.
                    </div>
                    {% comment %} <div class="col-md-6 text-center text-md-end">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                        <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <div class="dropup">
        <button class="back-to-top1 d-flex align-items-center justify-content-center dropdown-toggle" style="border: none; padding-top: 4px;" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-chat-square-dots-fill"></i>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item jal-go" href="tel:02-3158-5517"><i class="bi bi-telephone-fill"></i>  전화하기</a></li>
          <li><a class="dropdown-item jal-go" href="https://talk.naver.com/ct/w4a4qu" target="_blank"><i class="bi bi-chat-right-dots-fill"></i>  네이버 톡톡</a></li>
          <li><a class="dropdown-item jal-go" href="https://open.kakao.com/o/sfdD3Ttf" target="_blank"><i class="bi bi-chat-fill" style="color:black;"></i>  카카오톡</a></li>
        </ul>
      </div>
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'mom/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'mom/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'mom/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'mom/lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'mom/js/main.js' %}"></script>

    <script>
        // 폼 제출 이벤트 리스너를 설정합니다.
        document.getElementById("loginForm").onsubmit = function(e){
            e.preventDefault();  // 기본 폼 제출 동작을 방지합니다.
            // 폼 데이터를 FormData 객체로 생성합니다.
            var formData = new FormData(document.getElementById("loginForm"));
            // Django 템플릿에서 생성된 CSRF 토큰 값을 변수에 저장합니다.
            const csrfToken = "{{ csrf_token }}";
            
            // fetch API를 사용하여 서버에 비동기 POST 요청을 보냅니다.
            fetch("{% url 'ajax_login' %}", {
                method: "POST", // HTTP 메소드를 POST로 설정합니다.
                headers: {
                    "X-Requested-With": "XMLHttpRequest", // AJAX 요청임을 나타내는 헤더를 추가합니다.
                    "X-CSRFToken": csrfToken, // CSRF 토큰을 요청 헤더에 추가합니다.
                },
                body: formData, // FormData 객체를 요청 본문에 설정합니다.
                credentials: 'include', // 쿠키(여기에는 CSRF 토큰 쿠키도 포함)를 요청에 포함시키도록 설정합니다.
            })
            .then(response => response.json()) // 서버로부터 응답을 JSON 형식으로 변환합니다.
            .then(data => {
                if(data.success) {
                    // 로그인 성공 시 실행할 동작, 예를 들어, 알림 표시 후 페이지 새로고침
                    alert("로그인 성공!");
                    location.reload(); // 현재 페이지를 새로 고칩니다.
                } else {
                    // 로그인 실패 시 실행할 동작, 예를 들어, 에러 메시지를 알림으로 표시
                    alert(data.error);
                }
            })
            .catch(error => console.error('Error:', error)); // 요청 실패 시 에러 로깅
        };
    </script>

   
</body>

</html>