{% extends 'mom/base.html' %}
{% load static %}
{% block body %}
<style>
    .carousel-item img {

        height: 700px;
        object-fit: fill; 
        /* cover 이미지 비율을 유지하면서 컨테이너를 꽉 채움 */

    }
</style>
    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% comment %} <div class="carousel-item active" style="background-image: url('{% static 'mom/img/carousel-1.jpg' %}'); height: 800px; background-size: cover; background-position: center;" data-bs-interval="200000"></div> {% endcomment %}
               <div class="carousel-item active" data-bs-interval="5000">
                    <img class="w-100 image-fluid" src="{% static 'mom/img/carousel1.jpg' %}" alt="Image">
                    <div class="carousel-caption">
                        <div class="container" id="carou">
                            <div class="row justify-content-start jal-go">
                                <div class="col-lg-7">
                                    <!-- "덕은드림"을 위한 행 -->
                                    <div class="row mt-5">
                                        <div class="col-12">
                                            <h4 class="display-2 animated slideInDown jal-go fs-1" style="color: white !important; text-shadow: 3px 3px black;">덕은지식산업센터</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h1 class="display-2 animated slideInDown jal-go" style="text-shadow: 3px 3px gray;">GL메트로시티</h1>
                                        </div>
                                    </div>
                                    <!-- "부동산"을 위한 행 -->
                                    <div class="row w-50">
                                        <div class="col-12 d-flex justify-content-start">
                                            <h1 class="display-2 mb-4 animated slideInDown jal-go" style="text-shadow: 3px 3px gray;">한강</h1>
                                        </div>
                                    </div>
                                    <!-- 버튼들 -->
                                    <a href="{% url "search" %}" class="btn btn-primary rounded-pill py-sm-3 px-sm-5">매물보기</a>
                                    {% comment %} <a href="" class="btn btn-secondary rounded-pill py-sm-3 px-sm-5 ms-3">Services</a> {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% comment %} <div class="carousel-item" data-bs-interval="2000">
                    <img class="w-100" src="{% static 'mom/img/carousel-2.jpg' %}" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-start jal-go">
                                <div class="col-lg-7">
                                    <h1 class="display-2 mb-5 animated slideInDown jal-go">매물 보유중</h1>
                                    <a href="" class="btn btn-primary rounded-pill py-sm-3 px-sm-5">Products</a>
                                    <a href="" class="btn btn-secondary rounded-pill py-sm-3 px-sm-5 ms-3">Services</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> {% endcomment %}
            </div>
            {% comment %} <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button> {% endcomment %}
        </div>
    </div>
    <!-- Carousel End -->


    {% comment %} <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img position-relative overflow-hidden p-5 pe-0">
                        <img class="img-fluid w-100" src="img/about.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-5 mb-4">Best Organic Fruits And Vegetables</h1>
                    <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                    <p><i class="fa fa-check text-primary me-3"></i>Tempor erat elitr rebum at clita</p>
                    <p><i class="fa fa-check text-primary me-3"></i>Aliqu diam amet diam et eos</p>
                    <p><i class="fa fa-check text-primary me-3"></i>Clita duo justo magna dolore erat amet</p>
                    <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End --> {% endcomment %}


    {% comment %} <!-- Feature Start -->
    <div class="container-fluid bg-light bg-icon my-5 py-6">
        <div class="container">
            <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-5 mb-3">Our Features</h1>
                <p>Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="img/icon-1.png" alt="">
                        <h4 class="mb-3">Natural Process</h4>
                        <p class="mb-4">Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed vero dolor duo.</p>
                        <a class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill" href="">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="img/icon-2.png" alt="">
                        <h4 class="mb-3">Organic Products</h4>
                        <p class="mb-4">Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed vero dolor duo.</p>
                        <a class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill" href="">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="img/icon-3.png" alt="">
                        <h4 class="mb-3">Biologically Safe</h4>
                        <p class="mb-4">Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed vero dolor duo.</p>
                        <a class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill" href="">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->  {% endcomment %}

    {% comment %} <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1831541184549553" crossorigin="anonymous"></script>
    <!-- 디스플레이 -->
    <div align="center" class="wow fadeIn" data-wow-delay="0.1s">
        <ins class="adsbygoogle"
        style="display:inline-block;width:1000px;height:100px"
        data-ad-client="ca-pub-1831541184549553"
        data-ad-slot="1037687173"></ins>
    </div>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script> {% endcomment %}

    <!-- Product Start -->
    <div class="container-xxl py-5 jal-go">
        <div class="container">
            <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-5 mb-3 jal-go">최신 매물</h1>
            </div>
            <div class="row g-0 gx-5 align-items-end">
                <div class="col-lg-12 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                    <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                        <li class="nav-item me-2 my-1">
                            <a class="btn btn-outline-primary border-2 active" data-bs-toggle="pill" href="#tab-6">덕은 / 지식산업센터</a>
                        </li>
                        <li class="nav-item me-2 my-1">
                            <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" href="#tab-7">향동 / 지식산업센터</a>
                        </li>
                        <li class="nav-item me-2 my-1">
                            <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" href="#tab-1">기타 / 지식산업센터</a>
                        </li>
                        <li class="nav-item me-2 my-1">
                            <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" href="#tab-2">아파트</a>
                        </li>
                        <li class="nav-item me-2 my-1">
                            <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" href="#tab-3">오피스텔</a>
                        </li>
                        <li class="nav-item me-2 my-1">
                            <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" href="#tab-4">상가</a>
                        </li>
                        <li class="nav-item me-2 my-1">
                            <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" href="#tab-5">사무실</a>
                        </li>
                        {% comment %} <li class="nav-item me-2 my-1">
                            <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" href="#tab-8">토지</a>
                        </li> {% endcomment %}
                    </ul>
                </div>
            </div>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        {% for jisan in 지산 %}
                        <div class="col-xl-3 col-lg-3 col-md-6 col-6">
                            <div class="product-item">
                                <div class="position-relative bg-light overflow-hidden"> 
                                    <a href="{% url "detail" jisan.id %}"><img class="img-fluid w-100 m_img" src="{{ MEDIA_URL }}{{ jisan.first_image_url }}" alt="" style="object-fit: fill;"></a>
                                    <div class="d-flex position-absolute start-0 top-0 m-2" style="flex-wrap: wrap">
                                        <div class="badge bg-body text-white py-1 ms-1" style="font-size: 10px; color: red;">New</div>
                                        {% if jisan.인기 %}
                                        <div class="badge bg-secondary text-white py-1 px-1 ms-1" style="font-size: 10px;">인기</div>
                                        {% endif %}
                                        {% if jisan.신축 %}
                                        <div class="badge bg-primary text-white py-1 px-1 ms-1" style="font-size: 10px;">신축</div>
                                        {% endif %}
                                        {% if jisan.급매 %}
                                        <div class="badge bg-success text-white py-1 px-1 ms-1" style="font-size: 10px;">급매</div>
                                        {% endif %}
                                        {% if jisan.저렴 %}
                                        <div class="badge bg-warning text-white py-1 px-1 ms-1" style="font-size: 10px;">저렴</div>
                                        {% endif %}
                                        {% if jisan.추천 %}
                                        <div class="badge bg-body text-white py-1 px-1 ms-1" style="font-size: 10px;" id="green">추천</div>
                                        {% endif %}
                                        {% if jisan.강력추천 %}
                                        <div class="badge bg-danger text-white py-1 px-1 ms-1" style="font-size: 10px;">강력추천</div>
                                        {% endif %}
                                        {% if jisan.즉시입주 %}
                                        <div class="badge bg-info text-white py-1 px-1 ms-1" style="font-size: 10px;">즉시입주</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="text-center px-4 pt-4 pb-3">
                                    <a class="d-block h5 mb-2 jal-go" href="{% url "detail" jisan.id %}"><span class="text-primary">{{ jisan.거래종류 }}</span>
                                        {% if jisan.매매가억 %}<span> {{ jisan.매매가억 }}억</span>{% endif %}
                                         {{ jisan.매매가 }}{% if jisan.거래종류 == '월세' %}<span>/{{ jisan.월세 }}</span>{% endif %}</a>
                                    <small class="d-block fs-6" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{{ jisan.제목 }}</small>
                                    <span class="text-body"></span>
                                </div>
                                <div class="border-top text-center pb-1 pt-1">
                                    <small class="py-1">
                                        {{ jisan.지역 }}
                                    </small>
                                </div>
                                <div class="d-flex border-top">
                                    <small class="w-50 text-center border-end py-2">
                                            {% comment %} <i class="fa fa-eye text-primary me-2"></i> {% endcomment %}
                                            전용 {{ jisan.전용면적 }}평
                                    </small>
                                    <small class="w-50 text-center py-2">
                                            {% comment %} <i class="fa fa-shopping-bag text-primary me-2"></i> {% endcomment %}
                                            {{ jisan.해당층 }} / {{ jisan.전체층 }} 층
                                    </small>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-12 text-center">
                            <a class="btn btn-primary rounded-pill py-3 px-5" href="{% url "jisan" %}">매물 더보기</a>
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        {% for apart in 아파트 %}
                        <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                            <div class="product-item">
                                <div class="position-relative bg-light overflow-hidden"> 
                                    <a href="{% url "detail" apart.id %}"><img class="img-fluid w-100 m_img" src="{{ MEDIA_URL }}{{ apart.first_image_url }}" alt="" style=" object-fit: fill; "></a>
                                    <div class="d-flex position-absolute start-0 top-0 m-2" style="flex-wrap: wrap">
                                        <div class="badge bg-body text-white py-1 ms-1" style="font-size: 10px; color: red;">New</div>
                                        {% if apart.인기 %}
                                        <div class="badge bg-secondary text-white py-1 px-1 ms-1" style="font-size: 10px;">인기</div>
                                        {% endif %}
                                        {% if apart.신축 %}
                                        <div class="badge bg-primary text-white py-1 px-1 ms-1" style="font-size: 10px;">신축</div>
                                        {% endif %}
                                        {% if apart.급매 %}
                                        <div class="badge bg-success text-white py-1 px-1 ms-1" style="font-size: 10px;">급매</div>
                                        {% endif %}
                                        {% if apart.저렴 %}
                                        <div class="badge bg-warning text-white py-1 px-1 ms-1" style="font-size: 10px;">저렴</div>
                                        {% endif %}
                                        {% if apart.추천 %}
                                        <div class="badge bg-body text-white py-1 px-1 ms-1" style="font-size: 10px;" id="green">추천</div>
                                        {% endif %}
                                        {% if apart.강력추천 %}
                                        <div class="badge bg-danger text-white py-1 px-1 ms-1" style="font-size: 10px;">강력추천</div>
                                        {% endif %}
                                        {% if apart.즉시입주 %}
                                        <div class="badge bg-info text-white py-1 px-1 ms-1" style="font-size: 10px;">즉시입주</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="text-center px-4 pt-4 pb-3">
                                    <a class="d-block h5 mb-2 jal-go" href="{% url "detail" apart.id %}"><span class="text-primary">{{ apart.거래종류 }}</span>
                                        {% if apart.매매가억 %}<span> {{ apart.매매가억 }}억</span>{% endif %}
                                         {{ apart.매매가 }}{% if apart.거래종류 == '월세' %}<span>/{{ apart.월세 }}</span>{% endif %}</a>
                                         <small class="d-block fs-6" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{{ apart.제목 }}</small>
                                    <span class="text-body"></span>
                                </div>
                                <div class="border-top text-center pb-1 pt-1">
                                    <small class="py-2">
                                        {{ apart.지역 }}
                                    </small>
                                </div>
                                <div class="d-flex border-top">
                                    <small class="w-50 text-center border-end py-2">
                                            {% comment %} <i class="fa fa-eye text-primary me-2"></i> {% endcomment %}
                                            전용 {{ apart.전용면적 }}평
                                    </small>
                                    <small class="w-50 text-center py-2">
                                            {% comment %} <i class="fa fa-shopping-bag text-primary me-2"></i> {% endcomment %}
                                            {{ apart.해당층 }} / {{ apart.전체층 }} 층
                                    </small>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-12 text-center">
                            <a class="btn btn-primary rounded-pill py-3 px-5" href="{% url "apart" %}">매물 더보기</a>
                        </div>
                    </div>
                </div>
                <div id="tab-3" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        {% for officetel in 오피스텔 %}
                        <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                            <div class="product-item">
                                <div class="position-relative bg-light overflow-hidden"> 
                                    <a href="{% url "detail" officetel.id %}"><img class="img-fluid w-100 m_img" src="{{ MEDIA_URL }}{{ officetel.first_image_url }}" alt="" style="object-fit: fill; "></a>
                                    <div class="d-flex position-absolute start-0 top-0 m-2" style="flex-wrap: wrap">
                                        <div class="badge bg-body text-white py-1 ms-1" style="font-size: 10px; color: red;">New</div>
                                        {% if officetel.인기 %}
                                        <div class="badge bg-secondary text-white py-1 px-1 ms-1" style="font-size: 10px;">인기</div>
                                        {% endif %}
                                        {% if officetel.신축 %}
                                        <div class="badge bg-primary text-white py-1 px-1 ms-1" style="font-size: 10px;">신축</div>
                                        {% endif %}
                                        {% if officetel.급매 %}
                                        <div class="badge bg-success text-white py-1 px-1 ms-1" style="font-size: 10px;">급매</div>
                                        {% endif %}
                                        {% if officetel.저렴 %}
                                        <div class="badge bg-warning text-white py-1 px-1 ms-1" style="font-size: 10px;">저렴</div>
                                        {% endif %}
                                        {% if officetel.추천 %}
                                        <div class="badge bg-body text-white py-1 px-1 ms-1" style="font-size: 10px;" id="green">추천</div>
                                        {% endif %}
                                        {% if officetel.강력추천 %}
                                        <div class="badge bg-danger text-white py-1 px-1 ms-1" style="font-size: 10px;">강력추천</div>
                                        {% endif %}
                                        {% if officetel.즉시입주 %}
                                        <div class="badge bg-info text-white py-1 px-1 ms-1" style="font-size: 10px;">즉시입주</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="text-center px-4 pt-4 pb-3">
                                    <a class="d-block h5 mb-2 jal-go" href="{% url "detail" officetel.id %}"><span class="text-primary">{{ officetel.거래종류 }}</span>
                                        {% if officetel.매매가억 %}<span> {{ officetel.매매가억 }}억</span>{% endif %}
                                         {{ officetel.매매가 }}{% if officetel.거래종류 == '월세' %}<span>/{{ officetel.월세 }}</span>{% endif %}</a>
                                         <small class="d-block fs-6" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{{ officetel.제목 }}</small>
                                    <span class="text-body"></span>
                                </div>
                                <div class="border-top text-center pb-1 pt-1">
                                    <small class="py-2">
                                        {{ officetel.지역 }}
                                    </small>
                                </div>
                                <div class="d-flex border-top">
                                    <small class="w-50 text-center border-end py-2">
                                            {% comment %} <i class="fa fa-eye text-primary me-2"></i> {% endcomment %}
                                            전용 {{ officetel.전용면적 }}평
                                    </small>
                                    <small class="w-50 text-center py-2">
                                            {% comment %} <i class="fa fa-shopping-bag text-primary me-2"></i> {% endcomment %}
                                            {{ officetel.해당층 }} / {{ officetel.전체층 }} 층
                                    </small>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-12 text-center">
                            <a class="btn btn-primary rounded-pill py-3 px-5" href="{% url "officetel" %}">매물 더보기</a>
                        </div>
                    </div>
                </div>
                <div id="tab-4" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        {% for sanga in 상가 %}
                        <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                            <div class="product-item">
                                <div class="position-relative bg-light overflow-hidden"> 
                                    <a href="{% url "detail" sanga.id %}"><img class="img-fluid w-100 m_img" src="{{ MEDIA_URL }}{{ sanga.first_image_url }}" alt="" style="object-fit: fill; "></a>
                                    <div class="d-flex position-absolute start-0 top-0 m-2" style="flex-wrap: wrap">
                                        <div class="badge bg-body text-white py-1 ms-1" style="font-size: 10px; color: red;">New</div>
                                        {% if sanga.인기 %}
                                        <div class="badge bg-secondary text-white py-1 px-1 ms-1" style="font-size: 10px;">인기</div>
                                        {% endif %}
                                        {% if sanga.신축 %}
                                        <div class="badge bg-primary text-white py-1 px-1 ms-1" style="font-size: 10px;">신축</div>
                                        {% endif %}
                                        {% if sanga.급매 %}
                                        <div class="badge bg-success text-white py-1 px-1 ms-1" style="font-size: 10px;">급매</div>
                                        {% endif %}
                                        {% if sanga.저렴 %}
                                        <div class="badge bg-warning text-white py-1 px-1 ms-1" style="font-size: 10px;">저렴</div>
                                        {% endif %}
                                        {% if sanga.추천 %}
                                        <div class="badge bg-body text-white py-1 px-1 ms-1" style="font-size: 10px;" id="green">추천</div>
                                        {% endif %}
                                        {% if sanga.강력추천 %}
                                        <div class="badge bg-danger text-white py-1 px-1 ms-1" style="font-size: 10px;">강력추천</div>
                                        {% endif %}
                                        {% if sanga.즉시입주 %}
                                        <div class="badge bg-info text-white py-1 px-1 ms-1" style="font-size: 10px;">즉시입주</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="text-center px-4 pt-4 pb-3">
                                    <a class="d-block h5 mb-2 jal-go" href="{% url "detail" sanga.id %}"><span class="text-primary">{{ sanga.거래종류 }}</span>
                                        {% if sanga.매매가억 %}<span> {{ sanga.매매가억 }}억</span>{% endif %}
                                         {{ sanga.매매가 }}{% if sanga.거래종류 == '월세' %}<span>/{{ sanga.월세 }}</span>{% endif %}</a>
                                         <small class="d-block fs-6" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{{ sanga.제목 }}</small>
                                    <span class="text-body"></span>
                                </div>
                                <div class="border-top text-center pb-1 pt-1">
                                    <small class="py-2">
                                        {{ sanga.지역 }}
                                    </small>
                                </div>
                                <div class="d-flex border-top">
                                    <small class="w-50 text-center border-end py-2">
                                            {% comment %} <i class="fa fa-eye text-primary me-2"></i> {% endcomment %}
                                            전용 {{ sanga.전용면적 }}평
                                    </small>
                                    <small class="w-50 text-center py-2">
                                            {% comment %} <i class="fa fa-shopping-bag text-primary me-2"></i> {% endcomment %}
                                            {{ sanga.해당층 }} / {{ sanga.전체층 }} 층
                                    </small>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-12 text-center">
                            <a class="btn btn-primary rounded-pill py-3 px-5" href="{% url "sanga" %}">매물 더보기</a>
                        </div>
                    </div>
                </div>
                <div id="tab-5" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        {% for office in 사무실 %}
                        <div class="col-xl-3 col-lg-4 col-md-6 col-6" data-wow-delay="0.1s">
                            <div class="product-item">
                                <div class="position-relative bg-light overflow-hidden"> 
                                    <a href="{% url "detail" office.id %}"><img class="img-fluid w-100 m_img" src="{{ MEDIA_URL }}{{ office.first_image_url }}" alt="" style="object-fit: fill; "></a>
                                    <div class="d-flex position-absolute start-0 top-0 m-2" style="flex-wrap: wrap">
                                        <div class="badge bg-body text-white py-1 ms-1" style="font-size: 10px; color: red;">New</div>
                                        {% if office.인기 %}
                                        <div class="badge bg-secondary text-white py-1 px-1 ms-1" style="font-size: 10px;">인기</div>
                                        {% endif %}
                                        {% if office.신축 %}
                                        <div class="badge bg-primary text-white py-1 px-1 ms-1" style="font-size: 10px;">신축</div>
                                        {% endif %}
                                        {% if office.급매 %}
                                        <div class="badge bg-success text-white py-1 px-1 ms-1" style="font-size: 10px;">급매</div>
                                        {% endif %}
                                        {% if office.저렴 %}
                                        <div class="badge bg-warning text-white py-1 px-1 ms-1" style="font-size: 10px;">저렴</div>
                                        {% endif %}
                                        {% if office.추천 %}
                                        <div class="badge bg-body text-white py-1 px-1 ms-1" style="font-size: 10px;" id="green">추천</div>
                                        {% endif %}
                                        {% if office.강력추천 %}
                                        <div class="badge bg-danger text-white py-1 px-1 ms-1" style="font-size: 10px;">강력추천</div>
                                        {% endif %}
                                        {% if office.즉시입주 %}
                                        <div class="badge bg-info text-white py-1 px-1 ms-1" style="font-size: 10px;">즉시입주</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="text-center px-4 pt-4 pb-3">
                                    <a class="d-block h5 mb-2 jal-go" href="{% url "detail" office.id %}"><span class="text-primary">{{ office.거래종류 }}</span>
                                        {% if office.매매가억 %}<span> {{ office.매매가억 }}억</span>{% endif %}
                                         {{ office.매매가 }}{% if office.거래종류 == '월세' %}<span>/{{ office.월세 }}</span>{% endif %}</a>
                                    <small class="d-block fs-6" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{{ office.제목 }}</small>
                                    <span class="text-body"></span>
                                </div>
                                <div class="border-top text-center pb-1 pt-1">
                                    <small class="py-2">
                                        {{ office.지역 }}
                                    </small>
                                </div>
                                <div class="d-flex border-top">
                                    <small class="w-50 text-center border-end py-2">
                                            {% comment %} <i class="fa fa-eye text-primary me-2"></i> {% endcomment %}
                                            전용 {{ office.전용면적 }}평
                                    </small>
                                    <small class="w-50 text-center py-2">
                                            {% comment %} <i class="fa fa-shopping-bag text-primary me-2"></i> {% endcomment %}
                                            {{ office.해당층 }} / {{ office.전체층 }} 층
                                    </small>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-12 text-center">
                            <a class="btn btn-primary rounded-pill py-3 px-5" href="{% url "office" %}">매물 더보기</a>
                        </div>
                    </div>
                </div>
                <div id="tab-6" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        {% for multi in 덕지산 %}
                        <div class="col-xl-3 col-lg-4 col-md-6 col-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="product-item">
                                <div class="position-relative bg-light overflow-hidden"> 
                                    <a href="{% url "detail" multi.id %}"><img class="img-fluid w-100 m_img" src="{{ MEDIA_URL }}{{ multi.first_image_url }}" alt="" style="object-fit: fill; "></a>
                                    <div class="d-flex position-absolute start-0 top-0 m-2" style="flex-wrap: wrap">
                                        <div class="badge bg-body text-white py-1 ms-1" style="font-size: 10px; color: red;">New</div>
                                        {% if multi.인기 %}
                                        <div class="badge bg-secondary text-white py-1 px-1 ms-1" style="font-size: 10px;">인기</div>
                                        {% endif %}
                                        {% if multi.신축 %}
                                        <div class="badge bg-primary text-white py-1 px-1 ms-1" style="font-size: 10px;">신축</div>
                                        {% endif %}
                                        {% if multi.급매 %}
                                        <div class="badge bg-success text-white py-1 px-1 ms-1" style="font-size: 10px;">급매</div>
                                        {% endif %}
                                        {% if multi.저렴 %}
                                        <div class="badge bg-warning text-white py-1 px-1 ms-1" style="font-size: 10px;">저렴</div>
                                        {% endif %}
                                        {% if multi.추천 %}
                                        <div class="badge bg-body text-white py-1 px-1 ms-1" style="font-size: 10px;" id="green">추천</div>
                                        {% endif %}
                                        {% if multi.강력추천 %}
                                        <div class="badge bg-danger text-white py-1 px-1 ms-1" style="font-size: 10px;">강력추천</div>
                                        {% endif %}
                                        {% if multi.즉시입주 %}
                                        <div class="badge bg-info text-white py-1 px-1 ms-1" style="font-size: 10px;">즉시입주</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="text-center px-4 pt-4 pb-3">
                                    <a class="d-block h5 mb-2 jal-go" href="{% url "detail" multi.id %}"><span class="text-primary">{{ multi.거래종류 }}</span>
                                        {% if multi.매매가억 %}<span> {{ multi.매매가억 }}억</span>{% endif %}
                                         {{ multi.매매가 }}{% if multi.거래종류 == '월세' %}<span>/{{ multi.월세 }}</span>{% endif %}</a>
                                    <small class="d-block fs-6" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{{ multi.제목 }}</small>
                                    <span class="text-body"></span>
                                </div>
                                <div class="border-top text-center pb-1 pt-1">
                                    <small class="py-2">
                                        {{ multi.지역 }}
                                    </small>
                                </div>
                                <div class="d-flex border-top">
                                    <small class="w-50 text-center border-end py-2">
                                            {% comment %} <i class="fa fa-eye text-primary me-2"></i> {% endcomment %}
                                            전용 {{ multi.전용면적 }}평
                                    </small>
                                    <small class="w-50 text-center py-2">
                                            {% comment %} <i class="fa fa-shopping-bag text-primary me-2"></i> {% endcomment %}
                                            {{ multi.해당층 }} / {{ multi.전체층 }} 층
                                    </small>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                            <a class="btn btn-primary rounded-pill py-3 px-5" href="{% url "multi" %}">매물 더보기</a>
                        </div>
                    </div>
                </div>
                <div id="tab-7" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        {% for store in 향지산 %}
                        <div class="col-xl-3 col-lg-4 col-md-6 col-6" data-wow-delay="0.1s">
                            <div class="product-item">
                                <div class="position-relative bg-light overflow-hidden"> 
                                    <a href="{% url "detail" store.id %}"><img class="img-fluid w-100 m_img" src="{{ MEDIA_URL }}{{ store.first_image_url }}" alt="" style="object-fit: fill; "></a>
                                    <div class="d-flex position-absolute start-0 top-0 m-2" style="flex-wrap: wrap">
                                        <div class="badge bg-body text-white py-1 ms-1" style="font-size: 10px; color: red;">New</div>
                                        {% if store.인기 %}
                                        <div class="badge bg-secondary text-white py-1 px-1 ms-1" style="font-size: 10px;">인기</div>
                                        {% endif %}
                                        {% if store.신축 %}
                                        <div class="badge bg-primary text-white py-1 px-1 ms-1" style="font-size: 10px;">신축</div>
                                        {% endif %}
                                        {% if store.급매 %}
                                        <div class="badge bg-success text-white py-1 px-1 ms-1" style="font-size: 10px;">급매</div>
                                        {% endif %}
                                        {% if store.저렴 %}
                                        <div class="badge bg-warning text-white py-1 px-1 ms-1" style="font-size: 10px;">저렴</div>
                                        {% endif %}
                                        {% if store.추천 %}
                                        <div class="badge bg-body text-white py-1 px-1 ms-1" style="font-size: 10px;" id="green">추천</div>
                                        {% endif %}
                                        {% if store.강력추천 %}
                                        <div class="badge bg-danger text-white py-1 px-1 ms-1" style="font-size: 10px;">강력추천</div>
                                        {% endif %}
                                        {% if store.즉시입주 %}
                                        <div class="badge bg-info text-white py-1 px-1 ms-1" style="font-size: 10px;">즉시입주</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="text-center px-4 pt-4 pb-3">
                                    <a class="d-block h5 mb-2 jal-go" href="{% url "detail" store.id %}"><span class="text-primary">{{ store.거래종류 }}</span>
                                        {% if store.매매가억 %}<span> {{ store.매매가억 }}억</span>{% endif %}
                                         {{ store.매매가 }}{% if store.거래종류 == '월세' %}<span>/{{ store.월세 }}</span>{% endif %}</a>
                                    <small class="d-block fs-6" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{{ store.제목 }}</small>
                                    <span class="text-body"></span>
                                </div>
                                <div class="border-top text-center pb-1 pt-1">
                                    <small class="py-2">
                                        {{ store.지역 }}
                                    </small>
                                </div>
                                <div class="d-flex border-top">
                                    <small class="w-50 text-center border-end py-2">
                                            {% comment %} <i class="fa fa-eye text-primary me-2"></i> {% endcomment %}
                                            전용 {{ store.전용면적 }}평
                                    </small>
                                    <small class="w-50 text-center py-2">
                                            {% comment %} <i class="fa fa-shopping-bag text-primary me-2"></i> {% endcomment %}
                                            {{ store.해당층 }} / {{ store.전체층 }} 층
                                    </small>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-12 text-center">
                            <a class="btn btn-primary rounded-pill py-3 px-5" href="{% url "store" %}">매물 더보기</a>
                        </div>
                    </div>
                </div>
                {% comment %} <div id="tab-8" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        {% for land in 토지 %}
                        <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.1s">
                            <div class="product-item">
                                <div class="position-relative bg-light overflow-hidden"> 
                                    <img class="img-fluid w-100" src="{{ MEDIA_URL }}{{ land.first_image_url }}" alt="" style="height: 300px; object-fit: fill; ">
                                    <div class="d-flex position-absolute start-0 top-0 m-2" style="flex-wrap: wrap">
                                        <div class="badge bg-body rounded text-white py-1 ms-1 mt-1" style="font-size: 10px; color: red;">New</div>
                                        {% if land.인기 %}
                                        <div class="badge bg-secondary rounded text-white py-1 px-1 ms-1 mt-1" style="font-size: 10px;">인기</div>
                                        {% endif %}
                                        {% if land.신축 %}
                                        <div class="badge bg-primary rounded text-white py-1 px-1 ms-1 mt-1" style="font-size: 10px;">신축</div>
                                        {% endif %}
                                        {% if land.급매 %}
                                        <div class="badge bg-success rounded text-white py-1 px-1 ms-1 mt-1" style="font-size: 10px;">급매</div>
                                        {% endif %}
                                        {% if land.저렴 %}
                                        <div class="badge bg-warning rounded text-white py-1 px-1 ms-1 mt-1" style="font-size: 10px;">저렴</div>
                                        {% endif %}
                                        {% if land.추천 %}
                                        <div class="badge bg-body rounded text-white py-1 px-1 ms-1 mt-1" style="font-size: 10px;" id="green">추천</div>
                                        {% endif %}
                                        {% if land.강력추천 %}
                                        <div class="badge bg-danger rounded text-white py-1 px-1 ms-1 mt-1" style="font-size: 10px;">강력추천</div>
                                        {% endif %}
                                        {% if land.즉시입주 %}
                                        <div class="badge bg-info rounded text-white py-1 px-1 ms-1 mt-1" style="font-size: 10px;">즉시입주</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="text-center px-4 pt-4 pb-3">
                                    <a class="d-block h5 mb-2 jal-go" href="{% url "detail" land.id %}"><span class="text-primary">{{ land.거래종류 }}</span>
                                        {% if land.매매가억 %}<span> {{ land.매매가억 }}억</span>{% endif %}
                                         {{ land.매매가 }}{% if land.거래종류 == '월세' %}<span>/{{ land.월세 }}</span>{% endif %}</a>
                                    <div class="text-dark me-1" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{{ land.제목 }}</div>
                                    <span class="text-body"></span>
                                </div>
                                <div class="border-top text-center pb-1 pt-1">
                                    <small class="py-2">
                                        {{ land.지역 }}
                                    </small>
                                </div>
                                <div class="d-flex border-top">
                                    <small class="w-50 text-center border-end py-2">

                                            전용 {{ land.전면치환 }}m<sup>2</sup>
                                    </small>
                                    <small class="w-50 text-center py-2">

                                            {{ land.해당층 }} / {{ land.전체층 }} 층
                                    </small>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-12 text-center">
                            <a class="btn btn-primary rounded-pill py-3 px-5" href="{% url "land" %}">매물 더보기</a>
                        </div>
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
    <!-- Product End -->


    {% comment %} <!-- Firm Visit Start -->
    <div class="container-fluid bg-primary bg-icon mt-5 py-6">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-md-7 wow fadeIn" data-wow-delay="0.1s">
                    <h1 class="display-5 text-white mb-3">Visit Our Firm</h1>
                    <p class="text-white mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos.</p>
                </div>
                <div class="col-md-5 text-md-end wow fadeIn" data-wow-delay="0.5s">
                    <a class="btn btn-lg btn-secondary rounded-pill py-3 px-5" href="">Visit Now</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Firm Visit End -->


    <!-- Testimonial Start -->
    <div class="container-fluid bg-light bg-icon py-6 mb-5">
        <div class="container">
            <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-5 mb-3">Customer Review</h1>
                <p>Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                <div class="testimonial-item position-relative bg-white p-5 mt-4">
                    <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 mt-n4 ms-5"></i>
                    <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                    <div class="d-flex align-items-center">
                        <img class="flex-shrink-0 rounded-circle" src="img/testimonial-1.jpg" alt="">
                        <div class="ms-3">
                            <h5 class="mb-1">Client Name</h5>
                            <span>Profession</span>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item position-relative bg-white p-5 mt-4">
                    <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 mt-n4 ms-5"></i>
                    <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                    <div class="d-flex align-items-center">
                        <img class="flex-shrink-0 rounded-circle" src="img/testimonial-2.jpg" alt="">
                        <div class="ms-3">
                            <h5 class="mb-1">Client Name</h5>
                            <span>Profession</span>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item position-relative bg-white p-5 mt-4">
                    <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 mt-n4 ms-5"></i>
                    <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                    <div class="d-flex align-items-center">
                        <img class="flex-shrink-0 rounded-circle" src="img/testimonial-3.jpg" alt="">
                        <div class="ms-3">
                            <h5 class="mb-1">Client Name</h5>
                            <span>Profession</span>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item position-relative bg-white p-5 mt-4">
                    <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 mt-n4 ms-5"></i>
                    <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                    <div class="d-flex align-items-center">
                        <img class="flex-shrink-0 rounded-circle" src="img/testimonial-4.jpg" alt="">
                        <div class="ms-3">
                            <h5 class="mb-1">Client Name</h5>
                            <span>Profession</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


    <!-- Blog Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-5 mb-3">Latest Blog</h1>
                <p>Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <img class="img-fluid" src="img/blog-1.jpg" alt="">
                    <div class="bg-light p-4">
                        <a class="d-block h5 lh-base mb-4" href="">How to cultivate organic fruits and vegetables in own firm</a>
                        <div class="text-muted border-top pt-4">
                            <small class="me-3"><i class="fa fa-user text-primary me-2"></i>Admin</small>
                            <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>01 Jan, 2045</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <img class="img-fluid" src="img/blog-2.jpg" alt="">
                    <div class="bg-light p-4">
                        <a class="d-block h5 lh-base mb-4" href="">How to cultivate organic fruits and vegetables in own firm</a>
                        <div class="text-muted border-top pt-4">
                            <small class="me-3"><i class="fa fa-user text-primary me-2"></i>Admin</small>
                            <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>01 Jan, 2045</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <img class="img-fluid" src="img/blog-3.jpg" alt="">
                    <div class="bg-light p-4">
                        <a class="d-block h5 lh-base mb-4" href="">How to cultivate organic fruits and vegetables in own firm</a>
                        <div class="text-muted border-top pt-4">
                            <small class="me-3"><i class="fa fa-user text-primary me-2"></i>Admin</small>
                            <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>01 Jan, 2045</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog End --> {% endcomment %}
{% endblock body %}